// import partials ...
// experiment
.container {
  text-align: center;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  border: 3px solid #e1e1e6;
}

.twitch-channel {
  display: flex;
  .game {
    text-overflow: ellipsis;
  }
}

.twitch-channel.streaming {
  background-color: #7af774;
}
.twitch-channel.offline {
  background-color: #f77474;
}

